## Using sum, any, and all with pandas comparison operators

In [6]:
import numpy as np
import pandas as pd
df=pd.DataFrame(np.random.randn(4,4),index=['x1','x2','x3','x4'],columns=list('ABCD'))
print(df)

           A         B         C         D
x1  0.905620  0.547098  0.874874  1.790135
x2  0.006110  0.256621 -0.026403 -1.224668
x3 -0.009415  0.697572 -1.098242  1.063654
x4 -0.211957  0.733148 -0.866677 -1.144526

## sum

In [7]:
df>1 #the output is a boolean dataframe

        A      B      C      D
x1  False  False  False   True
x2  False  False  False  False
x3  False  False  False   True
x4  False  False  False  False

In [ ]:
(df>1).sum(axis=0) #count of values greater than 1 in each column (axis=0 default)

A    0
B    0
C    0
D    2
dtype: int64

In [9]:
(df>1).sum(axis=1) #count of values greater than 1 in each row

x1    1
x2    0
x3    1
x4    0
dtype: int64

In [13]:
(df>1).sum().sum() # count of all values greater than 1 in the dataframe

np.int64(2)

## any

In [14]:
df

           A         B         C         D
x1  0.905620  0.547098  0.874874  1.790135
x2  0.006110  0.256621 -0.026403 -1.224668
x3 -0.009415  0.697572 -1.098242  1.063654
x4 -0.211957  0.733148 -0.866677 -1.144526

In [15]:
df>1

        A      B      C      D
x1  False  False  False   True
x2  False  False  False  False
x3  False  False  False   True
x4  False  False  False  False

In [16]:
(df>1).any() #check if any value is greater than 1 in each column

A    False
B    False
C    False
D     True
dtype: bool

In [17]:
(df>1).any(axis=1) #check if any value is greater than 1 in each row

x1     True
x2    False
x3     True
x4    False
dtype: bool

In [19]:
(df>1).any().any() #check if any value is greater than 1 in the dataframe

np.True_

## all

In [20]:
df

           A         B         C         D
x1  0.905620  0.547098  0.874874  1.790135
x2  0.006110  0.256621 -0.026403 -1.224668
x3 -0.009415  0.697572 -1.098242  1.063654
x4 -0.211957  0.733148 -0.866677 -1.144526

In [29]:
df>-0.5

       A     B      C      D
x1  True  True   True   True
x2  True  True   True  False
x3  True  True  False   True
x4  True  True  False  False

In [30]:
(df>-0.5).all() #check if all values are greater than -0.5 in each column

A     True
B     True
C    False
D    False
dtype: bool

In [31]:
(df>-0.5).all(axis=1) #check if all values are greater than -0.5 in each row

x1     True
x2    False
x3    False
x4    False
dtype: bool

In [32]:
(df>-0.5).all().all() #check if all values are greater than -0.5 in the dataframe

np.False_